@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@900&display=swap");
@import url("//use.fontawesome.com/releases/v5.0.7/css/all.css");

:root {
  --bg-color: #f5f5f5;
  --font-primary: #f5f5f5;
  --font-secondary: #424242;
  --display: rgb(204, 204, 204);
  --display-border: 1px solid rgb(0, 0, 0);
  --calc-border: 2px solid rgb(0, 0, 0);
  --calc-container: rgb(153, 153, 153);
  --button: rgb(204, 204, 204);
  --numButton-hover: rgb(173, 173, 173);
  --opButton-hover: rgb(204, 255, 255);
  --eqButton-hover: rgb(255, 127, 80);
  --header-footer-color: #212121;
  --sect-border: 2px solid rgb(14, 14, 14);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--font-primary);
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background: var(--header-footer-color);
  border-bottom: var(--sect-border);
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  -webkit-text-fill-color: var(
    --font-primary
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--h1-stroke);
}

.calc-container {
  max-width: 250px;
  min-width: 250px;
  margin: auto;
  margin-top: 5rem;
  padding: 1.25rem;
  background: var(--calc-container);
  border: var(--calc-border);
  border-radius: 0.2em;
  color: var(--font-secondary);
}

.display {
  text-align: right;
  font-size: 2rem;
  min-height: 2.5rem;
  padding: 0.2rem;
  background-color: var(--display);
  border: var(--display-border);
  border-radius: 0.2em;
  word-wrap: break-word;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  padding-top: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
button {
  padding: 0.75rem;
  font-size: 1rem;
  background: var(--button);
  border-radius: 0.5rem;
  outline: none;
}

.num:hover {
  background: var(--numButton-hover);
}

.op:hover,
.dec:hover {
  background: var(--opButton-hover);
}

.equals:hover,
.ce:hover,
.del:hover {
  background: var(--eqButton-hover);
}

/*
.button-lg {
  grid-row: span 2;
} */

footer {
  display: flex;
  justify-content: center;
  background: var(--header-footer-color);
  border-top: var(--sect-border);
  font-size: 0.75rem;
  padding: 0.25rem;
}

.fa-github {
  padding-left: 1rem;
  color: var(--font-primary);
}
